<app-search></app-search>
<div class="welcome">
  <strong>"Hacme Books 2"</strong> is a software security training application provided by Cotonne. This
  application is designed to teach application developers, programmers, architects and security professionals how to
  create secure software. Hacme Books is used extensively in Cotonne's Crafting Secure Software class where
  students are challenged to find the vulnerabilities and then fix the application by re-writing its code.
</div>
<div>
  This vulnerable app was originally designed by Foundstone Professional Services.
</div>
