/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.welcome {
  text-align: justify;
}

.right {

}

.center {
  display: flex;
  align-content: center;
}

.hidden {
  display: none;
}

table {
  margin: auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
